// Color styles
$dark: rgba(32, 54, 49, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(103, 147, 136, 1);
$accent: rgba(39, 156, 127, 1);
$light-gray: rgba(161, 217, 203, 1);
$darken: -15%;
$lighten: 15%;
// Font styles
$font-heading: 'Space Grotesk', sans-serif;
$font-body: 'Atkinson Hyperlegible', sans-serif;
$font-mono: 'JetBrains Mono', monospace;